.navBar {
    display: flex;
    margin: 20px;
}

.logo{
    color: #046585;
    font-family: "Poppins SemiBold", serif;
    margin-left: 50px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 45%;
    gap: 4rem;
    justify-content: space-evenly;
}

ul a{
    color: #027398;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial sans-serif;
    list-style: none;
}

.top-copy{
    color: #504f4f;
    font-family: "Poppins SemiBold", serif;
    font-size: 3rem;
    text-align: center;
    align-content: center;
}

.text{
    width: 50%;
    justify-content: center;
    align-content: center;
    margin-left: 23%;
}

.free-trial{
    font-family: Arial sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 40%;
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: #027398;
}

.dashboard{
    width: 82vw;
    height: 90vh;
    margin-top: 50px;
    margin-left: -263px;
}

p{
    font-size: 18px;
    font-family: "Poppins", serif;;
    margin-top: -15px;
    margin-left: 37%;
}

#user-pro:hover{
    background-color: #d1cbcb;
}