*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins, sans-serif;
}

body{
    background-image: url("/images/bluebg.jpg");
    background-position: center;
}

.container{
    background-color: white;
    height: 100vh;
    width: 40vw;
}

.form-div{
    width: 32vw;
    height: 50vh;
    padding: 280px 0 150px 140px;
}

form h1{
    margin-left: 150px;
    color: #492ae3;
}

#username-input {
    margin-top: 15px;
    width: 20vw;
    height: 6vh;
}

#user-email{
    width: 20vw;
    height: 6vh;
    margin-left: 8px;
    margin-top: 15px;
}

#user-password{
    width: 20vw;
    height: 6vh;
    margin-top: 15px;
}

button{
    width: 8vw;
    height: 5vh;
    margin-left: 28px;
    margin-top: 10px;
    border-radius: 10px;
    border: #3939eb;
    background-color: #3939eb;
    color: white;
}

p{
    margin-top: 15px;
    margin-left: 90px;
}

label{
    color: #1818dd;
}

imag{
    color: #1818dd;
}

#btn{
    margin-top: 30px;
    margin-left: 140px;
}